:root {
  --light: #DEDEDE;
  --hightlight: red;
  --shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px rgba(255, 255, 255, 0.25);
  --padding-button: 16px;
  --icon-size: 28px;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--light);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

/* Player */
.player {
  display: grid;
  grid-template-rows: 14vh 60vh 7vh 10vh auto;
  height: 100vh;
  min-width: 320px;
  max-width: 375px;
  overflow: hidden;
}

/* Header */
.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ion-icon {
    padding: var(--padding-button);
    font-size: var(--icon-size);
    border-radius: 100%;
    box-shadow: var(--shadow);
    cursor: pointer;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 12px;
    text-align: center;
}

.cover {
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.card h1 {
    font-weight: 300;
    margin: 8px 12px
}

.card p {
    margin: 0;
}

/* Progress bar */
.progress-container {
    margin: 0 auto;
    width: 80%;
    height: 0.5rem;
    background: var(--light);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.progress-container .progress {
    height: 100%;
    width: 20%;
    background-color: var(--hightlight);
    border-radius: 10px;
}

/* Controls */
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-8px);
}

.controls ion-icon {
    margin: 0 8px;
    padding: var(--padding-button);
    font-size: var(--icon-size);
    border-radius: 100%;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.controls ion-icon:hover {
    color: white;
    background-color: var(--hightlight);
}

/* Song list */
.song-list-container {
    display: grid;
    grid-template-rows: 9vh 91vh;
    transform: translateY(-91vh);
    transition: 1s all;
    background-color: var(--light);
}

.song-list-container.playing {
    transform: translateY(0);
    transition: 3s all ease;
}

.song-list-container.playing .swipe-up {
    transition: 3s all ease;
    transform: rotate(0);
}

.swipe-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-size);
    cursor: pointer;
    transform: rotate(180deg);
    transition: 1s all;
}

.song-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.song-list li {
    display: flex;
    justify-content: space-between;
    margin: 0 28px 12px
}

.song-list li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.song-list li a.active {
    font-weight: 400;
}

.song-list li ion-icon {
    font-size: 10px;
    padding: 4px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25), -2px -2px 2px rgba(255, 255, 255, 0.25);
}

.song-list li ion-icon.active {
    background-color: var(--hightlight);
    color: white;
}


.song-list li ion-icon:hover {
    background-color: var(--hightlight);
    color: var(--light);
}